<!DOCTYPE html>
<html lang= 'en'>
<head>
    <link href='css/bootstrap.min.css' rel='stylesheet'>
    <link href='css/main.css' rel='stylesheet'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

    <!-- Fonts -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

</head>
<body>
           <div class="brand">PairBNB</div>
                      <% if user_signed_in? %>
                            <div class="address-bar"> <div id="top-menu"><div class="navbartext"><%= link_to "Home", root_path %> |  <%= link_to current_user.name, @user %> | <%= link_to "Sign out", destroy_user_session_path, :method => :delete %> 
                              </div>
                            </div>
                          </div>
                      <% else %>
                            <div class="address-bar"> <div id="top-menu"><div class="navbartext"><%= link_to "Home", root_path %> | <%= link_to "Sign up", new_user_registration_path %> | <%= link_to "Login", new_user_session_path %> |  <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)%>
                              </div>
                            </div>
                          </div>
                    <% end %>

<%= yield %>

</body>
    <footer>
        <div class="container-fluid">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; PairBNB 2016</p>
                </div>
            </div>
        </div>
    </footer>
</html>



